body {
	margin: 0 auto;
	border-top: 10px dashed slateblue;
	background-image: url('media/musik.jpg');
	background-attachment: fixed;
}

#web {
	width: 1000px;
	margin: 0 auto;
}

#menu{
	float: left;
	margin-top: 60px;
	margin-bottom: 20px;
	margin-right: 5px;
	width: 600px;
	height: 70px;
	background-color: white;
	border: 5px dotted red;
	border-radius: 5px;
}

#menu ul {
	margin: 0;
	padding: 0;
}

#menu ul li {
	list-style: none;
	display: inline-block;
	margin: 18px 20px;
	padding: 0px 5px;
	
}

#menu ul li a{
	text-decoration: none;
	font-family: 'comic sans ms';
	font-size: 20px;
	text-transform: uppercase;
	text-shadow: 2px 2px pink;
	font-weight: bold;
	color: purple;
	font-style: bold;
}

#menu ul li a:hover, a:active {
	border-bottom: 5px solid purple;
	color: pink;
}

#logo {
	float: right;
	margin-top: 60px;
}

#logo img {
	width: 350px;
	height: 98px;
}

#kiri {
	float: left;
	height: 1050px;
	width: 300px;
	margin-right: 10px;
	background-color: rgb(243,205,213);
	border-radius: 20px;
	margin-bottom: 20px;
}

#kiri img {
	width: 280px;
	height: 200px;
	padding-left: 10px;
	padding-top: 5px;
}

#kiri h2 {
	text-align: center;
	font-family: 'Bauhaus 93';
	color: red;
	text-shadow: 6px 6px orange;
}

#kiri p {
	text-transform: uppercase;
	font-family: 'comic sans ms';
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

#kiri p a {
	text-decoration: none;
}

#kiri p a:hover {
	color: rgb(78,163,158);
	border-bottom: none;
}

#kiri .artikel p a:active {
	color: green;
}

#kanan {
	height: 1050px;
	width: 680px; 
	float: right;
	background-color: white;
	margin-bottom: 20px;
}

#kanan .video h1 {
	font-family: 'Showcard Gothic';
	letter-spacing: 8px;
	text-align: center;
	color: rgb(22,16,84);
	text-shadow: 8px 8px rgb(122,239,109) ;
	padding-bottom: 20px;
	border-bottom: 20px solid;
	margin-bottom: 0px;
}

#kanan .video video {
	width: 250px;
	height: 250px;
	margin-right: 40px;
	margin-left: 40px;
}

#kanan .intro h1 {
	font-family: 'Showcard Gothic';
	letter-spacing: 8px;
	text-align: center;
	color: rgb(22,16,84);
	text-shadow: 8px 8px rgb(122,239,109) ;
	padding-top: 20px;
	border-top: 20px solid;
}

#kanan .intro img {
	width: 400px;
	height: 320px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#kanan .intro p {
	text-align: justify;
	margin-left: 30px;
	margin-right: 30px;
	font-family: 'Poppins', sans-serif;
	color: green;
	font-size: 20px;
}

#kanan .intro p a {
	text-decoration: none;
	color: blue;
	font-weight: bold;
}

#kanan .intro p a:hover {
	color: orange;
	border-bottom: none;
}

#kanan .form h1 {
	font-family: 'Showcard Gothic';
	letter-spacing: 8px;
	text-align: center;
	color: rgb(22,16,84);
	text-shadow: 8px 8px rgb(122,239,109) ;
	padding-bottom: 20px;
	border-bottom: 20px solid;
	margin-bottom: 50px;
}

#kanan .form table {
	font-family: 'comic sans ms';
	background-color: purple;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	border-bottom: 20px solid;
	border-top: 20px solid;
}

#kanan .form table td {
	padding-left: 20px;
	color: pink;
}

#kanan .info h1 {
	font-family: 'Showcard Gothic';
	letter-spacing: 8px;
	text-align: center;
	color: rgb(22,16,84);
	text-shadow: 8px 8px rgb(122,239,109) ;
	border-top: 20px solid;
	padding-bottom: 20px;
}

#kanan .info img {
	width: 400px;
	height: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#kanan .biodata {
	border-bottom: 20px solid rgb(22,16,84);
}
#kanan .biodata h1 {
	font-family: 'Showcard Gothic';
	letter-spacing: 8px;
	text-align: center;
	color: rgb(22,16,84);
	text-shadow: 8px 8px rgb(122,239,109) ;
	border-bottom: 20px solid;
	padding-bottom: 20px;
}

#kanan .biodata img {
	width: 400px;
	height: 320px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding-bottom: 10px;
}

#kanan .biodata p {
	text-align: justify;
	padding-left: 140px;
	font-family: 'comic sans ms';
	color: green;
	font-size: 12px;
}

#kanan .biodata ol {
	padding-left: 155px;
}

#kanan .biodata ol li {
	text-align: justify;
	font-family: 'comic sans ms';
	color: green;
	font-size: 12px;
}

#kanan .jpop {
	border-bottom: 20px solid rgb(22,16,84);
	padding-bottom: 100px;
}

#kanan .jpop h1 {
	font-family: 'Showcard Gothic';
	letter-spacing: 8px;
	text-align: center;
	color: rgb(22,16,84);
	text-shadow: 8px 8px rgb(122,239,109) ;
	border-bottom: 20px solid;
	padding-bottom: 20px;
}

#kanan .jpop table {
	font-family: 'comic sans ms';
	width: 500px;
	height: 700px;
	margin: 70px auto 0 auto;
	border-top: 20px solid;
	border-bottom: 20px solid;
}

#kanan .jpop td {
	font-weight: bold;
}

#kanan .jpop td a {
	text-decoration: none;
	color: black;
}

#kanan .jpop td a:hover {
	border-bottom: 8px solid black;
}

#kanan .kpop {
	border-bottom: 20px solid rgb(22,16,84);
	padding-bottom: 100px;
}

#kanan .kpop h1 {
	font-family: 'Showcard Gothic';
	letter-spacing: 8px;
	text-align: center;
	color: rgb(22,16,84);
	text-shadow: 8px 8px rgb(122,239,109) ;
	border-bottom: 20px solid;
	padding-bottom: 20px;
}

#kanan .kpop table {
	font-family: 'comic sans ms';
	width: 500px;
	height: 700px;
	margin: 70px auto 0 auto;
	border-top: 20px solid;
	border-bottom: 20px solid;

}

#kanan .kpop td {
	font-weight: bold;
	text-align: center;
}

#kanan .kpop td a {
	text-decoration: none;
	color: black;
}

#kanan .kpop td a:hover {
	border-bottom: 8px solid black;
}

.pros h1 {
	text-align: center;
	margin: 170px;
	color: purple;
	font-family: 'Snap ITC';
	
}

.awal {
	width: 200px;
	height: 100px;
	background-color: white;
	margin: 600px auto 600px auto;
}

.awal h1 {
	text-align: center;
	font-weight: bold;
	color: white;
	padding-top: 30px;
}

.awal h1 a {
	text-decoration: none;
}

.awal h1 a:hover {
	color: pink;
	border-bottom: none;
}

#footer {
	width: 1000px;
	height: 55px;
	background-color: #7475d8;
	clear: both;
	margin-bottom: 20px;
	border-top: 5px solid purple;
	border-bottom: 5px solid purple;
}

#footer img {
	width: 40px;
	height: 35px;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

